In [1]:
print("Zain")

Zain

In [2]:
a ="Zain Hanif"
print(a)

Zain Hanif

In [4]:
b = "hEy therE"
print(b)

hEy therE

In [5]:
 b.capitalize()

'Hey there'

In [6]:
b.title()

'Hey There'

In [7]:
b.lower()

'hey there'

In [11]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [15]:
a = "Zain Hanif"
b = "Hanif Ismail"
c = "Karachi"
print(a,b,c)

Zain Hanif Hanif Ismail Karachi

In [22]:
abc = ''''
a = "Zain Hanif"
b = "Hanif Ismail"
c = "Karachi"
'''
print(abc)

'
a = "Zain Hanif"
b = "Hanif Ismail"
c = "Karachi"

In [23]:
a = print("pakistan")

pakistan

In [1]:
a=20+10
print(a)

30

In [2]:
a=20
b=a+10
print(b)

30

In [4]:
a = "pakistan"
b = "zindabad"

a + b #Concatinact

'pakistanzindabad'

In [6]:
b = "Hey There"
b.casefold()

'hey there'

In [10]:
b.count("e")

3

In [12]:
b.find("y")

2

In [13]:
c = "Zain Hanif"
c.rfind("f") #postion

9

In [4]:
c = "Zain Hanif"
c.encode()

b'Zain Hanif'

In [8]:
c.endswith("h")

False

In [15]:
c.expandtabs()

'Zain Hanif'

In [16]:
c.format()

'Zain Hanif'

In [19]:
c.format_map("i")

'Zain Hanif'

In [21]:
c.index("i")

2

In [22]:
c.isalnum()   #identify alphabets and numeric if numeric and space or special character it will give false

False

In [25]:
c.isalpha()    #identify alphabets only if numeric and space or special character it will give false

False

In [26]:
c.isascii()

True

In [27]:
c.isdecimal()

False

False

In [29]:
c.isidentifier()

False

In [30]:
c.islower()

False

In [32]:
c.istitle()

True

In [33]:
c.isnumeric()

False

In [34]:
c.isprintable()

True

In [37]:
c.join("i")

'i'

In [38]:
c.lstrip()

'Zain Hanif'

In [43]:
c.partition("n")

('Zai', 'n', ' Hanif')

In [1]:
a='12312'
a.isdigit()

True

In [3]:
a = "ASD"
a.isupper()

True

In [18]:
a = "Hello Class"
a.replace('Hello' , 'Hi')  # it replace old with new

'Hi Class'

In [19]:
a.rfind("a") #last string

8

In [23]:
a.rindex("a")

8

In [30]:
a.rpartition("l")

('Hello C', 'l', 'ass')

In [40]:
b = "Pakistan Zindabad"
b.translate("Pakistan Zindabad")

'Pakistan Zindabad'

In [41]:
b.swapcase()  #swap uppercase characters to lowercase, lowercase characters to uppercase

'pAKISTAN zINDABAD'

In [46]:
b.startswith("tan")

False

In [49]:
b.splitlines()

['Pakistan Zindabad']

In [54]:
b = "My name is ZAin Hanif"
b.split()  #splits string from Left to Right

['My', 'name', 'is', 'ZAin', 'Hanif']